<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="iMIS">
      <section name="SystemParams" type="Asi.SystemConfig, Asi" />
      <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
      <section name="Soa" type="Asi.Soa.Core.Configuration.SoaConfiguration, Asi.Soa.Core.Contracts" />
    </sectionGroup>
  </configSections>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
    <pages>
    </pages>
  </system.web>
  <iMIS>
    <SystemParams>
      <add key="Authenticate.Anonymous.Allow" value="true" />
      <add key="Authenticate.Anonymous.UserId" value="GUEST" />
      <add key="Authenticate.PersistLogin.Allow" value="true" />
      <add key="Authenticate.PersistLogin.Minutes" value="0" />
      <add key="Authenticate.SecureLoginPage" value="false" />
      <add key="Authenticate.WindowsIdentity.Allow" value="true" />
      <add key="Browser.DisableContextMenu" value="true" />
      <add key="CustomErrors.ErrorPage.DisplayMode.Debug" value="false" />
      <add key="SqlCommand.CommandTimeout" value="300" />
      <add key="AtomCompiler.DebugCompile" value="false" />
      <add key="PagedResults.MaxRecords" value="500" />
      <add key="Authentication.AllowAddUserToAuthStore" value="true" />
      <add key="Authentication.AllowUsernameChange" value="true" />
      <add key="Authentication.PasswordResetTokenExpireDays" value="7" />
      <add key="BOD.AssemblyCachePeriod" value="5" />
      <add key="Sitemap.CachePeriod" value="5" />
      <add key="Communities.AllowedUploadFileTypes" value="FOL,DOC,PDF,TXT,HTM,HTML,GIF,JPG,PNG,RTF,ZIP,XML,WMV" />
      <add key="Communities.EmbedImageAttachments" value="true" />
      <add key="Communities.EmbedVideoAttachments" value="true" />
      <add key="Communities.EmbedAudioAttachments" value="true" />
      <add key="Content.EnablePageCaching" value="true" />
    </SystemParams>
    <Soa>
      <addressValidators>
        <addressValidator type="Asi.Soa.ValidateAddress.MelissaData.VerifyAddressMelissaAddressObject, Asi.Soa.ValidateAddress.MelissaData" countries="us,default" />
      </addressValidators>
      <contractAssemblies>
        <contractAssembly assembly="Asi.Soa.Core.Contracts" />
        <contractAssembly assembly="Asi.Soa.Membership.Contracts" />
        <contractAssembly assembly="Asi.Soa.Communications.Contracts" />
        <contractAssembly assembly="Asi.Soa.Commerce.Contracts" />
        <contractAssembly assembly="Asi.Soa.Events.Contracts" />
        <contractAssembly assembly="Asi.Soa.Fundraising.Contracts" />
        <contractAssembly assembly="Asi.Soa.Nrds.Contracts" />
      </contractAssemblies>

      <entityTypeProviders>
        <entityTypeProvider type="Asi.Soa.Communications.Persistence.RegisterCommunicationsEntityTypes, Asi.Soa.Communications.Persistence" />
        <entityTypeProvider type="Asi.Soa.Communications.Persistence.V10.RegisterCommunicationsEntityTypes, Asi.Soa.Communications.Persistence.V10" />
        <entityTypeProvider type="Asi.Soa.Membership.Persistence.V10.RegisterMembershipEntityTypes, Asi.Soa.Membership.Persistence.V10" />
        <entityTypeProvider type="Asi.Soa.Commerce.Persistence.V10.RegisterCommerceEntityTypes, Asi.Soa.Commerce.Persistence.V10" />
        <entityTypeProvider type="Asi.Soa.Events.Persistence.V10.RegisterEventsEntityTypes, Asi.Soa.Events.Persistence.V10" />
        <entityTypeProvider type="Asi.Soa.Fundraising.Persistence.V10.RegisterFundraisingEntityTypes, Asi.Soa.Fundraising.Persistence.V10" />
        <entityTypeProvider type="Asi.Soa.Nrds.Persistence.RegisterNrdsEntityTypes, Asi.Soa.Nrds.Persistence" />
        <entityTypeProvider type="Asi.Soa.Core.Persistence.V10.RegisterCoreEntityTypes, Asi.Soa.Core.Persistence.V10" />
        <entityTypeProvider type="Asi.Soa.Core.RegisterCoreEntityTypes, Asi.Soa.Core" />
      </entityTypeProviders>
      <dynamicClaimEvaluators>
        <dynamicClaimEvaluator type="Asi.Soa.Membership.Persistence.V10.MembershipDynamicClaimEvaluator, Asi.Soa.Membership.Persistence.V10" />
        <dynamicClaimEvaluator type="Asi.Soa.Commerce.Persistence.V10.CommerceDynamicClaimEvaluator, Asi.Soa.Commerce.Persistence.V10" />
      </dynamicClaimEvaluators>
      <settings>
        <setting key="AVSEndpointType" value="Soap11" />
        <setting key="AVSUri" value="http://corevalidation.advsol.com/CoreValidation/Asi.Avs.CoreValidator.AddressValidationService.svc" />
        <setting key="AVSUser" value="ASIAVS" />
        <setting key="AVSPassword" value="AVS!05062011" />
        <setting key="AVSCountries" value="US,USA,CA,CAN" />
        <setting key="DefaultPaymentMethodId" value="CASH" />
        <setting key="ImportFilesLocation" value="C:\iMIS\Import Files" />
        <setting key="ImportUserName" value="stacey" />
        <setting key="ImportUserPassword" value="stacey" />
        <setting key="EntityManagerDefaultEndpointType" value="NetTcp" />
      </settings>
    </Soa>

    <log4net>
      <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender,log4net">
        <param name="File" value="ErrorLogs\\BA.IMIS.Common.log" />
        <param name="RollingStyle" value="Date" />
        <param name="DatePattern" value="_yyyy-MM-dd.log" />
        <param name="StaticLogFileName" value="true" />
        <maximumFileSize value="100KB" />        
        <appendToFile value="true" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value ="%date={ABSOLUTE} [%logger] %level - %message%newline%exception" />
          <!--<conversionPattern value="%d{yyyy'-'MM'-'dd HH':'mm':'ss'.'fff} %p %t %c - %m%n" />-->
        </layout>
        <filter type="log4net.Filter.LevelRangeFilter">
          <levelMin value="ERROR" />
          <acceptOnMatch value="true" />
        </filter>
      </appender>
      <logger name="BA.IMIS.Common.Shared" additivity="false">
        <appender-ref ref="RollingFileAppender" />
      </logger>
      <logger name="BA.iParts.CompanyRoster.CompanyRosterShared" additivity="false">
        <appender-ref ref="RollingFileAppender" />
      </logger>
      <appender name="EventLogAppender" type="log4net.Appender.EventLogAppender">
        <applicationName value="ASI" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
        </layout>
        <filter type="log4net.Filter.LevelRangeFilter">
          <levelMin value="ERROR" />
          <acceptOnMatch value="true" />
        </filter>
      </appender>
      <root>
        <appender-ref ref="EventLogAppender" />
      </root>
    </log4net>
  </iMIS>  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!--<dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>      
      <!--<dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <!--<dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>-->
    </assemblyBinding>
  </runtime>
</configuration>